.row
  .six.columns
    = semantic_form_for @reminder, html: {class: 'form custom'} do |f|
      %fieldset
        %legend Required
        .row
          .six.columns
            = f.input :from_name, label: false, placeholder: 'Your Name', :input_html => {class: 'twelve'}
          .six.columns
            = f.input :from_email, label: false, placeholder: 'Your Email Address', :input_html => {class: 'twelve'}
        .row
          .six.columns
            = f.input :to_name, label: false, placeholder: 'Their Name', :input_html => {class: 'twelve'}
          .six.columns
            = f.input :item, label: false, placeholder: 'The Borrowed Item', :input_html => {class: 'twelve'}
        .row
          .twelve.columns
            = f.select :reminder_gap, options_for_select([['Send in 1 week', '1w'],['Send in 1 month', '1m'],['Send in 2 months', '2m'],['Send in 3 months', '3m'],['Send in 6 months', '6m'],['Send in 1 year', '1y']], '1m'), {}, {id: 'customDropdown', class: 'twelve', style: "display:none;"}
            .custom.dropdown
              %a.current{href: '#'} Send in 1 month
              %a.selector{href: '#'}
              %ul
      %fieldset
        %legend Optional
        .row
          .six.columns
            %label{for: 'reminder_to_email'} Send the reminder to them
            = f.input :to_email, label: false, placeholder: 'Their Email Address', :input_html => {class: 'twelve'}
          .six.columns
            %label{for: 'reminder_message'} Add a personal Message
            = f.input :message, label: false, placeholder: 'Message For Friend', input_html: {rows: 3}
      .row
        .twelve.columns
          = f.submit "Save Reminder To Send Later", class: 'button twelve'
          %h6.subheader We will never sell or spam these email addresses
  .six.columns
    .panel
      %p 
        %span.from
        %span.to To: <b>[Your Email Address]</b>
        %br
        Subject: A quick reminder about
        %span.your_my your
        %span.item <b>[Borrowed Item]</b>
        %br
        %span.sent Send: <b>In 1 Month</b>
      %hr
      %p 
        Hi
        %span.name <b>[Your Name]</b>
      %p 
        Just a quick reminder that 
        %span.their_name <b>[Friend's Name]</b>
        borrowed
        %span.your_my your
        %span.item <b>[Item]</b>
        %span.recently recently.
      %p
        %span.message <b>[Optional Message]</b>
      %p 
        %span.thanks
      %p 
        Sent via #{link_to 'www.borrownote.com', 'http://www.borrownote.com'}
        %br
        Friendly reminders to give your stuff back!
